.smallHeading {
  font-family: "Caveat", cursive;
  font-weight: 700;
  color: var(--bs-primary);
}

h1 {
  font-weight: 700;
}

body {
  overflow-x: hidden;
}

.navbar {
  transition: all 0.1s ease-in-out;
}

.navbar-sticky {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 3;
}

.header {
  background: url(../images/homeHeroImage.jpg) center center no-repeat;
  background-size: cover;
}

.about .decoration-dots {
  top: 1px;
  right: -10px;
  width: 200px;
  opacity: 0.3;
}

.services .decoration-bee1 {
  z-index: 2;
  left: 21px;
  bottom: -19.769px;
  width: 105.99px;
  height: 105.99px;
  transform: rotate(33.958deg);
}

.services .decoration-bee2 {
  z-index: 2;
  right: 64.961px;
  top: 7px;
  width: 155px;
  height: 155px;
  transform: rotate(-32.538deg);
}

.services .decoration-dots {
  display: flex;
  width: 257px;
  height: 149px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -39px;
  bottom: 6px;
  opacity: 0.3;
}

.aIFeature .aiImg {
  width: 448px;
  height: 529px;
  border-radius: 30px;
}

.aIFeature .decoration-AI {
  width: 191px;
  height: 180px;
  right: 480px;
  bottom: 20px;
  z-index: 2;
}
