// |=====| Global CSS |=====| //
.smallHeading {
    font-family: "Caveat", cursive;
    font-weight: 700;
    color: var(--bs-primary);
}

h1 {
    font-weight: 700;
}
// |=====| Global CSS |=====| //

// |=====| Body CSS |=====| //
body {
    overflow-x: hidden;
}
// |=====| Body CSS |=====| //

// |=====| Navbar CSS |=====| //
.navbar {
    transition: all 0.1s ease-in-out;
}

.navbar-sticky {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 3;
}
// |=====| Navbar CSS |=====| //

// |=====| Header CSS |=====| //
.header {
    background: url(../images/homeHeroImage.jpg) center center no-repeat;
    background-size: cover;
}
// |=====| Header CSS |=====| //

// |=====| About CSS |=====| //
.about .decoration-dots {
    top: 1px;
    right: -10px;
    width: 200px;
    opacity: 0.3;
}
// |=====| About CSS |=====| //

// |=====| Services CSS |=====| //
.services .decoration-bee1 {
    z-index: 2;
    left: 21px;
    bottom: -19.769px;
    width: 105.99px;
    height: 105.99px;
    transform: rotate(33.958deg);
}

.services .decoration-bee2 {
    z-index: -1;
    right: 64.961px;
    top: 7px;
    width: 155px;
    height: 155px;
    transform: rotate(-32.538deg);
}

.services .decoration-dots {
    display: flex;
    width: 257px;
    height: 149px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -39px;
    bottom: 6px;
    opacity: 0.3;
}
// |=====| Services CSS |=====| //

// |=====| AI Feature CSS |=====| //
.aIFeature .aiImg {
    width: 448px;
    height: 529px;
    border-radius: 30px;
}
// |=====| AI Feature CSS |=====| //

// |=====| Blog CSS |=====| //
.blog .decoration-dots {
    top: 1px;
    right: -10px;
    width: 200px;
    opacity: 0.3;
}

.blog .decoration-bee {
    z-index: 2;
    right: 21px;
    bottom: 250px;
    width: 100px;
    height: 105.99px;
    transform: rotate(300deg);
}
// |=====| Blog CSS |=====| //