// ||------------------------------| Global CSS |------------------------------| //
.smallHeading {
    font-family: "Caveat", cursive;
    font-weight: 700;
    color: var(--bs-primary);
}

h1 {
    font-weight: 700;
}

span, i {
    color: var(--bs-primary);
}

.required-input::after {
    content: " *";
    color: red;
}

ul.list li::before {
    content: "• ";
    color: #000000;
    font-weight: bold;
    margin-right: 8px;
}

// |=====| ScrollBar CSS |=====| //
::-webkit-scrollbar { width: 12px; }

::-webkit-scrollbar-track { background-color: lightgray; }

::-webkit-scrollbar-thumb { background-color: var(--bs-primary); }

::-webkit-scrollbar-thumb:hover { background-color: var(--bs-secondary); }
// |=====| ScrollBar CSS |=====| //

// |=====| Selection color CSS |=====| //
::selection {
    background-color: #E3F4E9;
    color: #000000;
}
// |=====| Selection color CSS |=====| //

// |=====| Body CSS |=====| //
body {
    overflow-x: hidden;
    width: 100%;
}
// |=====| Body CSS |=====| //

// |=====| Footer CSS |=====| //
footer svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    transform: rotate(180deg);
}
// |=====| Footer CSS |=====| //
// ||------------------------------| Global CSS |------------------------------| //



// ||------------------------------| Home Page CSS |------------------------------| //
// |=====| Navbar CSS |=====| //
.navbar {
    transition: all 0.1s ease-in-out;
}

.navbar-sticky {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 3;
}
// |=====| Navbar CSS |=====| //

// |=====| Header CSS |=====| //
.header {
    background: url(../images/homeHeroImage.jpg) center center no-repeat;
    background-size: cover;
}
// |=====| Header CSS |=====| //

// |=====| About CSS |=====| //
.about .decoration-dots {
    top: 1px;
    right: -10px;
    width: 200px;
    opacity: 0.3;
}
// |=====| About CSS |=====| //

// |=====| Services CSS |=====| //
.services .decoration-bee1 {
    z-index: 2;
    left: 21px;
    bottom: -19.769px;
    width: 105.99px;
    height: 105.99px;
    transform: rotate(33.958deg);
}

.services .decoration-bee2 {
    z-index: -1;
    right: 64.961px;
    top: 7px;
    width: 155px;
    height: 155px;
    transform: rotate(-32.538deg);
}

.services .decoration-dots {
    display: flex;
    width: 257px;
    height: 149px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -39px;
    bottom: 6px;
    opacity: 0.3;
}
// |=====| Services CSS |=====| //

// |=====| AI Feature CSS |=====| //
.aIFeature .aiImg {
    width: 448px;
    height: 529px;
    border-radius: 30px;
}
// |=====| AI Feature CSS |=====| //

// |=====| Blog CSS |=====| //
.blog .decoration-dots {
    top: 1px;
    right: -10px;
    width: 200px;
    opacity: 0.3;
}

.blog .decoration-bee {
    z-index: 2;
    right: 21px;
    bottom: 250px;
    width: 100px;
    height: 105.99px;
    transform: rotate(300deg);
}
// |=====| Blog CSS |=====| //

// |=====| Shop CSS |=====| //
.shop .decoration-dots {
    height: 200px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -39px;
    top: 6px;
    opacity: 0.3;
}

.shop .decoration-honey {
    z-index: 1;
    width: 407px;
    height: 326px;
    right: -169px;
    bottom: 20.023px;
}

.shop .decoration-bee1 {
    z-index: 2;
    left: 27.584px;
    top: 700px;
    width: 155px;
    height: 155px;
    transform: rotate(22.431deg);
}

.shop .decoration-bee2 {
    left: 570px;
    top: 28px;
    width: 88.106px;
    height: 88.106px;
    transform: rotate(128.373deg);
}

.shop .decoration-bee3 {
    right: 571.232px;
    top: 28px;
    width: 88.106px;
    height: 88.106px;
    transform: rotate(225.627deg);
}
// |=====| Shop CSS |=====| //

// |=====| Contact CSS |=====| //
.contact .decoration-dots {
    top: 1px;
    right: -10px;
    width: 200px;
    opacity: 0.3;
}

.contact .decoration-bee1 {
    left: 20.958px;
    bottom: 4.065px;
    width: 155px;
    height: 155px;
    transform: rotate(27.377deg);
}

.contact .decoration-bee2 {
    z-index: 2;
    left: 150px;
    bottom: -12.886px;
    width: 66.782px;
    height: 66.782px;
    transform: rotate(-17.681deg);
}
// |=====| Contact CSS |=====| //
// ||------------------------------| Home Page CSS |------------------------------| //



// ||------------------------------| About Us Page CSS |------------------------------| //
// |=====| Header CSS |=====| //
.aboutHeader {
    background: url("https://images.unsplash.com/photo-1687853769369-36c6dcfa04d0?q=80&w=1684&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center center no-repeat;
    background-size: cover;
}
// |=====| Header CSS |=====| //

// |=====| Intro CSS |=====| //
.intro .introImg {
    border-radius: 20px;
    height: 400px;
}

.intro .decoration-dots {
    top: 1px;
    right: -10px;
    width: 300px;
    opacity: 0.3;
}

.intro .decoration-bee {
    z-index: 2;
    left: 21px;
    top: 26px;
    width: 100px;
    height: 155px;
    transform: rotate(99.018deg);
}
// |=====| Intro CSS |=====| //

// |=====| Mision & Vision CSS |=====| //
.mision .decoration-dots {
    z-index: 2;
    bottom: 1px;
    left: 10px;
    width: 300px;
    opacity: 0.3; 
}

.mision .misionImg {
    width: 500px;
}

.mision .decoration-bee {
    right: 32.222px;
    top: 15px;
    width: 95.663px;
    height: 95.663px;
    transform: rotate(-120.164deg);
}
// |=====| Mision & Vision CSS |=====| //

// |=====| Team Members CSS |=====| //
.team .teamMember {
    width: 200px;
}

.team .decoration-bee {
    z-index: 2;
    right: 21px;
    top: 26px;
    width: 100px;
    height: 155px;
    transform: rotate(-120deg);
}
// |=====| Team Members CSS |=====| //
// ||------------------------------| About Us Page CSS |------------------------------| //



// ||------------------------------| Blog Home Page CSS |------------------------------| //
// |=====| Header CSS |=====| //
.blogHeader {
    background: url("https://images.unsplash.com/photo-1496571330383-9b977f4a021d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center center no-repeat;
    background-size: cover;
}
// |=====| Header CSS |=====| //

// |=====| Blog Section CSS |=====| //
.blogList .decoration-dots {
    top: 1px;
    right: -10px;
    width: 200px;
    opacity: 0.3;
}

.blogList .decoration-bee1 {
    z-index: 2;
    left: 53px;
    top: 16px;
    width: 91.335px;
    height: 91.335px;
    transform: rotate(124.947deg);
}

.blogList .decoration-bee2 {
    z-index: 2;
    right: 10px;
    top: 580.947px;
    width: 68.87px;
    height: 68.87px;
    transform: rotate(-50.797deg);
}

.blogList .decoration-bee3 {
    z-index: 2;
    left: 40.85px;
    bottom: 10.663px;
    width: 91.335px;
    height: 91.335px;
    transform: rotate(64.86deg)
}
// |=====| Blog Section CSS |=====| //
// ||------------------------------| Blog Home Page CSS |------------------------------| //



// ||------------------------------| Article Template Page CSS |------------------------------| //
// |=====| Header CSS |=====| //
.articleHeader {
    background-color: var(--bs-light);
}
// |=====| Header CSS |=====| //

// |=====| Article Section CSS |=====| //
.image .decoration-dots1 {
    z-index: -1;
    top: 1px;
    right: -10px;
    width: 250px;
    opacity: 0.3;
}

.image .decoration-bee1 {
    z-index: 2;
    left: 10px;
    top: 80px;
    width: 91.335px;
    height: 91.335px;
    transform: rotate(124.947deg);
}

.article .decoration-bee2 {
    z-index: 2;
    right: 45.23px;
    bottom: 982.23px;
    width: 91.335px;
    height: 91.335px;
    transform: rotate(-26.308deg);
}

.article .decoration-bee3 {
    z-index: 2;
    left: 41.543px;
    bottom: 208.717px;
    width: 125.989px;
    height: 125.989px;
    transform: rotate(15.979deg);
}

.comments .decoration-dots2 {
    z-index: 0;
    top: 10px;
    left: -10px;
    width: 257px;
    opacity: 0.3;
}
// |=====| Article Section CSS |=====| //
// ||------------------------------| Article Template Page CSS |------------------------------| //



// ||------------------------------| Signin/Login Page CSS |------------------------------| //
// |=====| Form Section CSS |=====| //
.signin .decoration-bee1 {
    z-index: 2;
    right: 62.318px;
    top: 50px;
    width: 155px;
    height: 155px;
    transform: rotate(-137.178deg);
}

.signin .decoration-bee2 {
    z-index: 2;
    left: 120px;
    bottom: 80.794px;
    width: 66.782px;
    height: 66.782px;
    transform: rotate(52.034deg);
}
// |=====| Form Section CSS |=====| //
// ||------------------------------| Signin/Login Page CSS |------------------------------| //



// ||------------------------------| Signup/Register Page CSS |------------------------------| //
// |=====| Form Section CSS |=====| //
.signup .decoration-bee1 {
    z-index: 2;
    right: 62.318px;
    top: 50px;
    width: 155px;
    height: 155px;
    transform: rotate(-151.019deg);
}

.signup .decoration-bee2 {
    z-index: 2;
    right: 250px;
    top: 50px;
    width: 66.782px;
    height: 66.782px;
    transform: rotate(163.922deg);
}
// |=====| Form Section CSS |=====| //
// ||------------------------------| Signup/Register Page CSS |------------------------------| //



// ||------------------------------| BeeCare Shop Announcement Page CSS |------------------------------| //
// |=====| Announcement Section CSS |=====| //
.announcement .decoration-bee1 {
    z-index: 2;
    right: 62.318px;
    top: 50px;
    width: 155px;
    height: 155px;
    transform: rotate(-137.178deg);
}

.announcement .decoration-bee2 {
    z-index: 2;
    left: 120px;
    bottom: 80.794px;
    width: 66.782px;
    height: 66.782px;
    transform: rotate(52.034deg);
}
// |=====| Announcement Section CSS |=====| //
// ||------------------------------| BeeCare Shop Announcement Page CSS |------------------------------| //



// ||------------------------------| Profile User CSS |------------------------------| //
// |=====| Profile User - About Tab CSS |=====| //
.userProfile .decoration-bee1 {
    z-index: 2;
    right: 80px;
    top: 100px;
    width: 120px;
    transform: rotate(-137.178deg);
}

.userProfile .decoration-bee2 {
    z-index: 2;
    left: 100px;
    top: 360px;
    width: 66.782px;
    height: 66.782px;
    transform: rotate(52.034deg);
}
// |=====| Profile User - About Tab CSS |=====| //

// |=====| Profile User - Password Tab CSS |=====| //
#toggleCurrentPassword {
    top: 128px;
    right: 15px; 
    cursor: pointer;
}

#toggleNewPassword {
    top: 212px;
    right: 15px; 
    cursor: pointer
}

#toggleConfirmPassword {
    top: 297px;
    right: 15px; 
    cursor: pointer;
}
// |=====| Profile User - Password Tab CSS |=====| //
// ||------------------------------| Profile User CSS |------------------------------| //



// ||------------------------------| Sighting Form CSS |------------------------------| //
// |=====| Header CSS |=====| //
.sightingFormHeader {
    background: url("https://images.unsplash.com/photo-1628355155145-a886bf55f508?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") top center no-repeat;
    background-size: cover;
}
// |=====| Header CSS |=====| //

// |=====| Form Section CSS |=====| //
.newSightingTitle .decoration-dots1 {
    top: 1px;
    right: -10px;
    width: 250px;
    opacity: 0.3;
}

.newSightingTitle .decoration-bee1 {
    z-index: -1;
    left: 21px;
    top: 26px;
    width: 100px;
    transform: rotate(120deg);
}

.newSighting .decoration-bee2 {
    z-index: 2;
    right: 59.679px;
    bottom: -650px;
    width: 155px;
    transform: rotate(-30.838deg);
}

.newSighting .decoration-bee3 {
    z-index: 2;
    right: 50px;
    bottom: -500px;
    width: 80px;
    transform: rotate(20deg);
}
// |=====| Form Section CSS |=====| //

// |=====| Form General CSS |=====| //
#multiStepForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 460px;
    height: 100%;
    padding: 28px 28px 28px 28px;
    box-sizing: border-box;
    position: relative;
}
// |=====| Form General CSS |=====| //

// |=====| Form "Title" Section CSS |=====| //
.sightingFormImg {
    width: 280px;
}

#title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 460px;
    height: 100%;
    text-align: center;
    padding: 28px 28px 28px 28px;
    box-sizing: border-box;
    position: relative;
}
// |=====| Form "Title" Section CSS |=====| //

// |=====| Form "Steps" Section CSS |=====| //
#steps-container {
    margin: auto;
    width: 500px;
    min-height: 420px;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.newSightingForm iframe {
    max-width: 100%;
    height: 400px;
    margin: 0 auto;
    display: block;
}

.form-step {
    display: flex;
    flex-direction: column;
}

button {
    flex-shrink: 0;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}
// |=====| Form "Steps" Section CSS |=====| //
// ||------------------------------| Sighting Form CSS |------------------------------| //



// ||------------------------------| Sightings List CSS |------------------------------| //
// |=====| Community Sightings Section CSS |=====| //
.sightingsListTitle .decoration-dots1 {
    top: 1px;
    right: -10px;
    width: 250px;
    opacity: 0.3;
}

.sightingsList .decoration-bee1 {
    z-index: 4;
    left: 53px;
    top: 16px;
    width: 91.335px;
    transform: rotate(124.947deg);
}

.sightingsList .decoration-bee2 {
    z-index: 2;
    right: 117.809px;
    bottom: 123.33px;
    width: 124.313px;
    transform: rotate(-28.075deg);
}
// |=====| Community Sightings Section CSS |=====| //

// |=====| New Sightings Form Section CSS |=====| //
.registerSighting .decoration-dots2 {
    top: 77px;
    left: 10px;
    width: 250px;
    opacity: 0.3;
}

.registerSighting .decoration-bee3 {
    z-index: 2;
    left: 35.135px;
    bottom: -4.055px;
    width: 124.313px;
    transform: rotate(27.775deg);
}
// |=====| New Sightings Form Section CSS |=====| //
// ||------------------------------| Sightings List CSS |------------------------------| //



// |-----------------------------------| To Top Button |-----------------------------------| //
.to-top-btn {
    position: fixed;
    z-index: 100;
    bottom: 25px;
    right: 25px;
    opacity: 0;
    visibility: hidden;
    width: 60px;
    height: 60px;
    background-color: var(--bs-primary);
    cursor: pointer;
    outline: none;
    border: none;
    clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
    transition: all 0.5s ease-in-out;
}

.to-top-btn:hover {
    background-color: var(--bs-secondary);
}

.show {
    opacity: 1;
    visibility: visible;
}
// |-----------------------------------| To Top Button |-----------------------------------| //



// ||------------------------------| Media Queries |------------------------------| //
@media (min-width: 990px) and (max-width: 1199px) {
    #title-container {
        padding: 80px 28px 28px 28px;
    }
    
    #steps-container {
        width: 85%;
    }
}
 
@media (max-width: 991px) {
    #title-container {
        padding: 30px;
        min-height: inherit;
    }
}
 
@media (max-width: 767px) {
    ::-webkit-scrollbar {
        width: 8px;
    }
    
    #steps-container {
        width: 100%;
        min-height: 400px;
    }

    #title-container {
        padding-top: 50px;
    }

    // |=====| Profile User - Password Tab CSS |=====| //
    #toggleCurrentPassword {
        top: 125px;
        right: 15px; 
        cursor: pointer;
    }

    #toggleNewPassword {
        top: 210px;
        right: 15px; 
        cursor: pointer
    }

    #toggleConfirmPassword {
        top: 293px;
        right: 15px; 
        cursor: pointer;
    }
    // |=====| Profile User - Password Tab CSS |=====| //
}

@media (max-width: 560px) {
    ::-webkit-scrollbar {
        width: 5px;
    }

    #title-container {
        padding-top: 45px;
    }

    // |=====| Profile User - Password Tab CSS |=====| //
    #toggleCurrentPassword {
        top: 109px;
        right: 15px; 
        cursor: pointer;
    }

    #toggleNewPassword {
        top: 185px;
        right: 15px; 
        cursor: pointer
    }

    #toggleConfirmPassword {
        top: 262px;
        right: 15px; 
        cursor: pointer;
    }
    // |=====| Profile User - Password Tab CSS |=====| //
}
// ||------------------------------| Media Queries |------------------------------| //