// ||------------------------------| Global CSS ||------------------------------| //
.smallHeading {
    font-family: "Caveat", cursive;
    font-weight: 700;
    color: var(--bs-primary);
}

h1 {
    font-weight: 700;
}

.required-input::after {
    content: " *";
    color: red;
}

::-webkit-scrollbar { width: 12px; }

::-webkit-scrollbar-track { background-color: lightgray; }

::-webkit-scrollbar-thumb { background-color: var(--bs-primary); }

::-webkit-scrollbar-thumb:hover { background-color: var(--bs-secondary); }

// |=====| Body CSS |=====| //
body {
    overflow-x: hidden;
}
// |=====| Body CSS |=====| //

// |=====| Footer CSS |=====| //
footer svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    transform: rotate(180deg);
}
// |=====| Footer CSS |=====| //
// ||------------------------------| Global CSS |------------------------------| //

// ||------------------------------| Home Page CSS |------------------------------| //
// |=====| Navbar CSS |=====| //
.navbar {
    transition: all 0.1s ease-in-out;
}

.navbar-sticky {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 3;
}
// |=====| Navbar CSS |=====| //

// |=====| Header CSS |=====| //
.header {
    background: url(../images/homeHeroImage.jpg) center center no-repeat;
    background-size: cover;
}
// |=====| Header CSS |=====| //

// |=====| About CSS |=====| //
.about .decoration-dots {
    top: 1px;
    right: -10px;
    width: 200px;
    opacity: 0.3;
}
// |=====| About CSS |=====| //

// |=====| Services CSS |=====| //
.services .decoration-bee1 {
    z-index: 2;
    left: 21px;
    bottom: -19.769px;
    width: 105.99px;
    height: 105.99px;
    transform: rotate(33.958deg);
}

.services .decoration-bee2 {
    z-index: -1;
    right: 64.961px;
    top: 7px;
    width: 155px;
    height: 155px;
    transform: rotate(-32.538deg);
}

.services .decoration-dots {
    display: flex;
    width: 257px;
    height: 149px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -39px;
    bottom: 6px;
    opacity: 0.3;
}
// |=====| Services CSS |=====| //

// |=====| AI Feature CSS |=====| //
.aIFeature .aiImg {
    width: 448px;
    height: 529px;
    border-radius: 30px;
}
// |=====| AI Feature CSS |=====| //

// |=====| Blog CSS |=====| //
.blog .decoration-dots {
    top: 1px;
    right: -10px;
    width: 200px;
    opacity: 0.3;
}

.blog .decoration-bee {
    z-index: 2;
    right: 21px;
    bottom: 250px;
    width: 100px;
    height: 105.99px;
    transform: rotate(300deg);
}
// |=====| Blog CSS |=====| //

// |=====| Shop CSS |=====| //
.shop .decoration-dots {
    height: 200px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -39px;
    top: 6px;
    opacity: 0.3;
}

.shop .decoration-honey {
    z-index: 1;
    width: 407px;
    height: 326px;
    right: -169px;
    bottom: 20.023px;
}

.shop .decoration-bee1 {
    z-index: 2;
    left: 27.584px;
    top: 700px;
    width: 155px;
    height: 155px;
    transform: rotate(22.431deg);
}

.shop .decoration-bee2 {
    left: 570px;
    top: 28px;
    width: 88.106px;
    height: 88.106px;
    transform: rotate(128.373deg);
}

.shop .decoration-bee3 {
    right: 571.232px;
    top: 28px;
    width: 88.106px;
    height: 88.106px;
    transform: rotate(225.627deg);
}
// |=====| Shop CSS |=====| //

// |=====| Contact CSS |=====| //
.contact .decoration-dots {
    top: 1px;
    right: -10px;
    width: 200px;
    opacity: 0.3;
}

.contact .decoration-bee1 {
    left: 20.958px;
    bottom: 4.065px;
    width: 155px;
    height: 155px;
    transform: rotate(27.377deg);
}

.contact .decoration-bee2 {
    left: 150px;
    bottom: -12.886px;
    width: 66.782px;
    height: 66.782px;
    transform: rotate(-17.681deg);
}
// |=====| Contact CSS |=====| //
// ||------------------------------| Home Page CSS |------------------------------| //



// ||------------------------------| About Us Page CSS |------------------------------| //
// |=====| Header CSS |=====| //
.aboutHeader {
    background: url("https://images.unsplash.com/photo-1687853769369-36c6dcfa04d0?q=80&w=1684&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center center no-repeat;
    background-size: cover;
}
// |=====| Header CSS |=====| //

// |=====| Intro CSS |=====| //
.intro .introImg {
    border-radius: 20px;
    height: 400px;
}

.intro .decoration-dots {
    top: 1px;
    right: -10px;
    width: 300px;
    opacity: 0.3;
}

.intro .decoration-bee {
    z-index: 2;
    left: 21px;
    top: 26px;
    width: 100px;
    height: 155px;
    transform: rotate(99.018deg);
}
// |=====| Intro CSS |=====| //

// |=====| Mision & Vision CSS |=====| //
.mision .decoration-dots {
    z-index: 2;
    bottom: 1px;
    left: 10px;
    width: 300px;
    opacity: 0.3; 
}

.mision .misionImg {
    width: 500px;
}

.mision .decoration-bee {
    right: 32.222px;
    top: 15px;
    width: 95.663px;
    height: 95.663px;
    transform: rotate(-120.164deg);
}
// |=====| Mision & Vision CSS |=====| //
// ||------------------------------| About Us Page CSS |------------------------------| //